@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <h1 class="display-4" style="font-size:70px;color:antiquewhite;margin-top:250px;text-shadow: 7px 7px #000000;font-weight:bold;"> Welcome to our Bookstore</h1>
    
</div>
